--Does pricing go into consideration on how well a retailer does profit wise?

--Can we compare types of promotions, and whether across different retailers, they affect profitability?

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
sales_data = Path("../Data/Sale Report.csv")

# Read in the data. 
sales_df = pd.read_csv(sales_data)
sales_df.head()

   index       SKU Code Design No.  Stock       Category Size Color
0      0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1      1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2      2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3      3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4      4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red

In [4]:
sales_df.columns

Index(['index', 'SKU Code', 'Design No.', 'Stock', 'Category', 'Size',
       'Color'],
      dtype='object')

In [5]:
sales_df.nunique().to_frame(name="Count of Unique Values")

            Count of Unique Values
index                         9271
SKU Code                      9170
Design No.                    1594
Stock                          295
Category                        21
Size                            11
Color                           62

In [6]:
#amazon.drop(['index', 'Size', 'Color'] inplace = True)